<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="row align-items-center w-75">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="fw-bold mb-3">I am <span class="text-purple">Shoaib Akhter</span></h1>
            <h2 class="fw-bold text-purple">Web Developer +<br> UX Designer</h2>
            <p class="lead mt-4">
                I break down complex user experience problems to create integrity-focused solutions that connect billions of people.
            </p>
            <a href="/files/SP23-BSE-101-B-CV.pdf" class="btn btn-outline-primary rounded-pill bg-purple text-light button-hover p-2 mt-3 mb-4">Download CV <i class="fa-solid fa-arrow-down"></i></a>
            <div class="social-links mt-3">
                <a href="#" class="btn btn-outline-primary rounded-circle bg-purple text-light button-hover mt-3 mb-4"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="btn btn-outline-primary rounded-circle bg-purple text-light button-hover mt-3 mb-4"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://pk.linkedin.com/in/muhammad-shoaib-akhtar-79b976301" class="btn btn-outline-primary rounded-circle bg-purple text-light button-hover mt-3 mb-4"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" class="btn btn-outline-primary rounded-circle bg-purple text-light button-hover mt-3 mb-4"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end">
            <img id="profile-picture" src="/images/Profile.png" class="img-fluid rounded-5 shadow" alt="Profile Picture of Shoaib">
        </div>
    </div>
</div>
<section id="recent-works" class="container my-5">
  <h3 class="fw-bold text-center mb-4 text-purple">My Recent Works</h3>

  <!-- Portfolio Items -->
  <div class="row g-4">
      <div class="col-6 portfolio-item shadow-lg" data-category="apps">
          <div class="card border-0 shadow">
              <img src="/images/project-1.png" data-file="project-1-disc.txt" class="w-100 h-100 card-img-top" alt="Work 1">
              <div id="description-1"></div>
          </div>
      </div>
      <div class="col-6 portfolio-item shadow-lg" data-category="branding">
          <div class="card border-0 shadow">
              <img src="/images/project-2.png" data-file="project-2-disc.txt" class="w-100 h-100 card-img-top" alt="Work 2">
              <div id="description-2"></div>
          </div>
      </div>
      <div class="col-6 portfolio-item shadow-lg" data-file="project-3-disc.txt" data-category="uxui">
          <div class="card border-0 shadow shadow-lg">
              <img src="/images/project-3.png" class="w-100 h-100 card-img-top" alt="Work 3">
              <div id="description-3"></div>
          </div>
      </div>
      <div class="col-6 portfolio-item shadow-lg" data-file="project-4-disc.txt" data-category="apps">
          <div class="card border-0 shadow">
              <img src="/images/project-4.png" class="card-img-top w-100 h-100 " alt="Work 4">
              <div id="description-4"></div>
          </div>
      </div>
  </div>
</section>  
