<div class="container mt-5">
  <h2><%-pageTitle%></h2>
  <form method="post" action="/admin/categories/create">

      <!-- Name Input -->
      <div class="form-group">
          <label for="category">Category Name</label>
          <input type="text" class="form-control" id="category" name="categoryName" placeholder="Enter Name">
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Add Category</button>
  </form>
</div>