<div class="container mt-5">
  <h2>Item Details</h2>
  <form method="post" action="/admin/products/create" enctype="multipart/form-data">
    <!-- Brand Dropdown -->
    <div class="form-group">
      <label for="brand">Brand</label>
      <select class="form-control" id="brand" name="brand">
        <option value="">Select a Brand</option>
        <% brands.forEach(brand => { %>
          <option value="<%= brand._id %>"><%= brand.brandName %></option>
        <% }) %>
      </select>
    </div>

    <!-- Name Input -->
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
    </div>

    <!-- Description Input -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description"></textarea>
    </div>

    <!-- Price Input -->
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price">
    </div>

    <!-- Image Input -->
    <div class="form-group">
      <label for="productImage">Image</label>
      <input type="file" class="form-control" id="productImage" name="productImage">
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
