
  <div id="welcome-div" class="d-flex flex-column flex-lg-row text-darkblue bg-yellow">
    <div id="welcome-logo" class="d-flex justify-content-lg-center align-items-center p-3 p-lg-5 fs-1 fs-lg-11">
      Welcome to Unilever Pakistan
    </div>
    <div id="unilever-welcome-image-div" class="w-lg-50">
      <img id="unilever-welcome-image" class="w-100 h-100" src="/images/img-1.webp" alt="">
    </div>
  </div>
  <div id="stats-div" class="d-flex w-100 flex-column align-items-center justify-content-center gap-5 mt-5 text-center p-5">
    <div id="stats-manager-div" class="d-flex flex-column flex-lg-row pe-5 gap-small">
      <div id="we-are-unilever-div" class="p-4 d-flex flex-column align-items-start align-items-lg-end text-mediumblue">
        <img class="w-10" src="/images/we-are-uniliver-pakistan.jpg" alt="">
        <h1 class="fs-12 text-end">We are Unilever Pakistan</h1>
      </div> 
      <div class="d-flex flex-column flex-lg-row gap-small">
        <div class="d-flex gap-small">
          <div class="stat-container bg-darkblue text-light w-50 w-lg-100 p-1 px-lg-1 px-5 d-flex flex-column align-items-center justify-content-center">
            <h1 class="fs-11">
              75
            </h1>
            <h2 class="fs-12">
              years
            </h2>
            <h3 class="fs-6">
              of Sustainable Buisness in Pakistan
            </h3>
          </div>
          <div class="stat-container text-light w-50 w-lg-100 p-1 px-lg-1 px-5 d-flex flex-column align-items-center justify-content-center" style="background-color:#005eff;">
            <h1 class="fs-11">
              Over 30
            </h1>
            <h2 class="fs-12">
              brands
            </h2>
            <h3 class="fs-6">
              in our market
            </h3>
          </div>
        </div>
        <div class="d-flex gap-small">    
          <div class="stat-container bg-darkblue w-50 w-lg-100 p-1 px-lg-1 px-5 d-flex flex-column align-items-center justify-content-center text-light">
            <h1 class="fs-11">
              #1
            </h1>
            <h2 class="fs-12">
              Employer of Choice
            </h2>
            <h3 class="fs-6">
              for the past 13 years
            </h3>
          </div>
          <div class="stat-container text-light w-50 w-lg-100 p-1 px-lg-1 px-5 d-flex flex-column align-items-center justify-content-center" style="background-color:#005eff;">
            <h1 class="fs-11">
              in 90%
            </h1 class="fs-12">
            <h2>
              of Pakistani
            </h2>
            <h3 class="fs-6">
              households
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div id="find-out-more">
      <button class="animation-button border-0 bg-light">
        <a class="text-decoration-none" href="https://www.unilever.pk/our-company/">
          <div class="button-content-div position-relative d-flex gap-small">
            <div class="button-text-div bg-lightblue p-3 px-4">
              <span id="button-text" class="text-purple">
                Find out more about Our Company
              </span>
            </div>
            <div class="button-icon position-relative p-3 bg-lightblue d-flex align-items-center justify-content-center px-4">
              <div class="before position-absolute">
                <i class="fa-sharp fa-solid fa-play" style="color: #7705bc;"></i>
              </div>
              <div class="after position-absolute">
                <i class="fa-sharp fa-solid fa-right-long" style="color: #47c8ff;"></i>
              </div>
            </div>
          </div>
        </a>
      </button>
    </div>
  </div>
  <div id="news-div" class="bg-lightblue pb-5">
    <h1 class="text-darkblue px-5 pt-5">
      Latest News
    </h1>
    <div id="news-containers-manager" class="d-flex flex-column flex-md-row gap-5 p-5">
      <div id="front-news" class="w-100 w-md-50 p-1 bg-wheat">
        <a class="text-decoration-none" href="https://www.unilever.pk/news/2024/engine-of-nations-growth-our-bustling-bazaars/">
          <div class="news-image-div position-relative">
            <div class="article-tag position-absolute bg-darkblue text-light p-1 ">
              News article
            </div>
            <img class="w-100" src="/images/news-1.webp" alt="">
          </div>
          <div class="news-text p-4">
            <h2 class="news-title text-decoration-underline fs-4">
              Engine of Nation's Growth &mdash; Our Bustling Bazaars
            </h2>
            <h4 class="news-date text-body-secondary fs-5">
              10 September 2024
            </h4>
            <h3 class="news-description text-body-secondary fs-4">
              As Pakistan celebrates another year of independence, we reflect on the true engines that drive our
              nation's progress—our vibrant marketplaces and the businesses that bring them to life. These marketplaces
              are more than just centers of commerce, in fact, they are the lifeblood...
            </h3>
          </div>
        </a>
      </div>
      <div id="more-news-div" class="d-flex flex-column gap-4 w-100 w-md-50">
        <div class="news-card h-20 bg-wheat p-1">
          <a class="d-flex text-decoration-none gap-3" href="https://www.unilever.pk/news/2024/the-case-for-fair-living-wage/">
            <div class="news-image-div w-40">
              <div class="article-tag position-absolute bg-darkblue text-light p-1">
                News article
              </div>
              <img class="w-100" src="/images/news-2.webp" alt="">
            </div>
            <div class="news-text w-40 d-flex flex-column justify-content-center">
              <h2 class="news-title fs-4 text-decoration-underline">
                The Case for Fair Living Wage
              </h2>
              <h4 class="news-date text-body-secondary fs-5">
                14 August 2024
              </h4>
            </div>
          </a>
        </div>
        <div class="news-card h-20 bg-wheat p-1">
          <a class="d-flex text-decoration-none gap-3" href="https://www.unilever.pk/news/2024/unilever-partners-with-samsung-to-explore-the-future-of-laundry/">
            <div class="news-image-div w-40">
              <div class="article-tag position-absolute bg-darkblue text-light p-1">
                News article
              </div>
              <img class="w-100" src="/images/news-3.webp" alt="">
            </div>
            <div class="news-text w-40 d-flex flex-column justify-content-center">
              <h2 class="news-title fs-4 text-decoration-underline">
                Unilever partners with Samsung to explore the future of laundry
              </h2>
              <h4 class="news-date text-body-secondary fs-5">
                7 August 2024
              </h4>
            </div>
          </a>
        </div>
        <div class="news-card h-20 bg-wheat p-1">
          <a class="d-flex text-decoration-none gap-3" href="https://www.unilever.pk/news/2024/the-case-for-fair-living-wage/">
            <div class="news-image-div w-40">
              <div class="article-tag position-absolute bg-darkblue text-light p-1">
                News article
              </div>
              <img class="w-100" src="/images/news-4.webp" alt="">
            </div>
            <div class="news-text w-40 d-flex flex-column justify-content-center">
              <h2 class="news-title fs-4 text-decoration-underline">
                What's behind Unilever's first half results?
              </h2>
              <h4 class="news-date text-body-secondary fs-5">
                7 August 2024
              </h4>
            </div>
          </a>
        </div>
        <div class="news-card h-20 bg-wheat p-1">
          <a class="d-flex text-decoration-none gap-3" href="https://www.unilever.pk/news/2024/delivering-deforestationfree-palm-oil-through-transformative-technology/">
            <div class="news-image-div w-40">
              <div class="article-tag position-absolute bg-darkblue text-light p-1">
                News article
              </div>
              <img class="w-100" src="/images/news-5.webp" alt="" style="height: auto;">
            </div>
            <div class="news-text w-40 d-flex flex-column justify-content-center">
              <h2 class="news-title fs-4 text-decoration-underline">
                Delivering deforestation-free palm oil through transformative technology
              </h2>
              <h4 class="news-date text-body-secondary fs-5">
                7 August 2024
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="view-all-news" class="d-flex justify-content-center">
      <button class="animation-button border-0 bg-lightblue ">
        <a class="text-decoration-none" href="https://www.unilever.pk/news/">
          <div class="button-content-div position-relative d-flex gap-small">
            <div class="button-text-div bg-purple p-3 px-4">
              <span id="button-text" class="text-lightblue">
                View all news
              </span>
            </div>
            <div class="button-icon position-relative p-3 bg-purple d-flex align-items-center justify-content-center px-4">
              <div class="before position-absolute">
                <i class="fa-sharp fa-solid fa-play" style="color: #47c8ff;"></i>
              </div>
              <div class="after position-absolute">
                <i class="fa-sharp fa-solid fa-right-long" style="color:#7705bc;"></i>
              </div>
            </div>
          </div>
        </a>
      </button>
    </div>
  </div>
  <div id="iconic-brands-div" class="d-flex flex-column flex-lg-row p-5 gap-5 align-items-lg-center justify-content-lg-between">
    <div id="text-and-button" class="d-flex flex-column align-items-baseline text-nowrap justify-content-center">
      <h1 style="color: #1F36C7;">
        Our iconic brands
      </h1>
      <h1 style="color: #9C44C0;">
        are on a mission
      </h1>
      <h1 style="color: #E60067;">
        to do good.
      </h1>
      <div id="explore-our-brands" class="d-flex justify-content-center mt-4">
        <button class="animation-button border-0 bg-light ">
          <a class="text-decoration-none" href="/brands">
            <div class="button-content-div position-relative d-flex gap-small">
              <div class="button-text-div bg-lightblue p-3 px-4">
                <span id="button-text" class="text-purple">
                  Explore our brands
                </span>
              </div>
              <div class="button-icon position-relative p-3 bg-lightblue d-flex align-items-center justify-content-center px-4">
                <div class="before position-absolute">
                  <i class="fa-sharp fa-solid fa-play" style="color:#7705bc;"></i>
                </div>
                <div class="after position-absolute">
                  <i class="fa-sharp fa-solid fa-right-long" style="color: #47c8ff;"></i>
                </div>
              </div>
            </div>
          </a>
        </button>
      </div>
    </div>
    <div id="iconic-brands-img" class="w-lg-50">
      <img class="w-100 h-100" src="/images/our-iconic-brands.webp" alt="">
    </div>
  </div>
  <div id="key-links" class="d-flex flex-column flex-lg-row gap-2 bg-darkblue text-light p-5 justify-content-between w-100 align-items-center">
    <div id="view-details-button-and-text" class="d-flex flex-column align-items-baseline gap-lg-3">
      <h1 class="fs-2">
        Unilever Pakistan Foods Limited - Annual Report 2023
      </h1>
      <div id="view-details" class="d-flex justify-content-center mt-4">
        <button class="animation-button border-0 bg-purple ">
          <a class="text-decoration-none" href="https://www.unilever.pk/news/">
            <div class="button-content-div position-relative d-flex gap-small">
              <div class="button-text-div bg-lightblue p-3 px-4">
                <span id="button-text" class="text-purple">
                  View details
                </span>
              </div>
              <div class="button-icon position-relative p-3 bg-lightblue d-flex align-items-center justify-content-center px-4">
                <div class="before position-absolute">
                  <i class="fa-sharp fa-solid fa-play" style="color:#7705bc;"></i>
                </div>
                <div class="after position-absolute">
                  <i class="fa-sharp fa-solid fa-right-long" style="color: #7705bc;"></i>
                </div>
              </div>
            </div>
          </a>
        </button>
      </div>
    </div>
    <div id="unilever-img">
      <img src="/images/key-links.webp" alt="">
    </div>
    <div id="hyperlink-and-text">
      <h1>
        Key Links
      </h1>
      <a class="text-light" href="https://www.unilever.pk/files/unilever-pakistan-foods-limited-annual-report-2023.pdf">
        <i class="fa-sharp fa-solid fa-download" style="color: #ffffff;"></i>
        Unilever Pakistan Foods Limited - Annual Report 2023 (PDF 13.12 MB)</a>
    </div>
  </div>
  <div id="content-cards-manager" class="container justify-content-center p-5 m-5 gap-5 row row-cols-1 row-cols-md-2">
    <div class="d-flex felx-column container p-0 m-0 h-450 bg-wheat col-12 col-md-5 col-lg-3">
      <a class="text-decoration-none" href="https://www.unilever.pk/sustainability/">
        <img class="w-100" src="/images/sustainability.jpg" alt="">
        <h1 class="title text-decoration-underline fs-4 px-3 pt-3">
          Sustainability
        </h1>
        <p class="description px-3 fs-10 text-body-secondary">
          We have been driving an ambitious sustainability agenda for over two decades. Yet, in the face of ever-growing economic, environmental and social challenges, we are evolving our approach. 
        </p>
      </a>
    </div>
    <div class="d-flex felx-column container m-0 p-0 h-450 bg-wheat col-12 col-md-5 col-lg-3">
      <a class="text-decoration-none" href="https://careers.unilever.com/pakistan">
        <img class="w-100" src="/images/careers.jpg" alt="">
        <h1 class="title fs-4 text-decoration-underline px-3 pt-3">
          Careers at Unilever
        </h1>
        <p class="description px-3 fs-10 text-body-secondary">
          Visit our dedicated careers site to browse vacancies and find information about what it's like working for us.
        </p>
      </a>
    </div>
    <div class="d-flex felx-column container m-0 p-0 h-450 bg-wheat col-12 col-md-5 col-lg-3">
      <a class="text-decoration-none" href="https://www.unilever.pk/news/press-releases/">
        <img class="w-100" src="/images/press.jpg" alt="">
        <h1 class="title fs-4 text-decoration-underline px-3 pt-3">
          Press &amp; media
        </h1>
        <p class="description px-3 fs-10 text-body-secondary">
          Press releases and media contact information for journalists and commentators.
        </p>
      </a>
    </div>
  </div>
  <div id="jama-punji" class="d-flex flex-column justify-content-center align-items-center p-5">
    <button class="border-0">
      <a class="text-light" href="http://www.jamapunji.pk/">
      <img src="/images/jama-punji.jpg" alt="">
      <div class="bg-mediumblue text-light d-flex align-items-start fs-3 p-2" id="jama-punji-link">
          Jama Punji
      </div>
      </a>
    </button>
  </div>
  <div id="search-div" class="bg-wheat p-5 d-flex flex-column justify-content-center">
    <div class="fs-2 form-label text-mediumblue">
      Search Unilever Pakistan
    </div>
    <div id="search-box-footer" class="d-flex form-outline position-relative">
      <input class="form-control form-control-lg border border-dark rounded-0" type="text" placeholder="Enter keywords to search">
        <i class="fa-solid fa-magnifying-glass position-absolute" style="color: #005eff; right:1%; top:15px;"></i>
    </div>
  </div>
  <div id="social-media-div" class="bg-navyblue d-flex p-3 align-items-baseline justify-content-center gap-3 text-light fs-6">
    <i class="fa-solid fa-share-nodes fa-xl" style="color: #ffffff;"></i>
    <p>Share this page</p>
    <button class="social-media-logo border-0 bg-navyblue">
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.unilever.pk">
        <i class="fa-brands fa-facebook-f fa-xl" style="color: #ffffff;"></i>
      </a>
    </button>
    <button class="social-media-logo border-0 bg-navyblue">
      <a href="https://x.com/intent/tweet?text=&url=https://www.unilever.pk">
        <i class="fa-brands fa-x-twitter fa-xl" style="color: #ffffff;"></i>
      </a>
    </button>
    <button class="social-media-logo border-0 bg-navyblue">
      <a href="https://www.linkedin.com/shareArticle?mini=true&title=&summary=&source=&url=https://www.unilever.pk">
        <i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i>
      </a>
    </button>
    <button class="social-media-logo border-0 bg-navyblue">
      <i class="fa-sharp fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i>
    </button>
  </div>
  <div id="connect-contact" class="d-flex p-5 justify-content-center align-items-baseline gap-5 bg-wheat">
    <div id="connect-with-us" class="d-flex flex-column gap-3">
      <h1 class="text-mediumblue">
        Connect with us
      </h1>
      <p class="text-body-tertiary">
        We're always looking to connect with those who share an interest in a <br> sustainable future.
      </p>
      <div id="social-media-logos-manager" class="d-flex gap-4">
        <button class="social-media-logo border-0">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.unilever.pk">
            <i class="fa-brands fa-facebook-f fa-2xl" style="color: #B371CC;"></i>
          </a>
        </button>
        <button class="social-media-logo border-0">
          <a href="https://x.com/intent/tweet?text=&url=https://www.unilever.pk">
            <i class="fa-brands fa-x-twitter fa-2xl" style="color: #B371CC;"></i>
          </a>
        </button>
        <button class="social-media-logo border-0">
          <a href="https://www.instagram.com/unilever/?hl=en">
            <i class="fa-brands fa-instagram fa-2xl" style="color: #b371cc;"></i>
          </a>
        </button>
        <button class="social-media-logo border-0">
          <a href="https://www.linkedin.com/shareArticle?mini=true&title=&summary=&source=&url=https://www.unilever.pk">
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #B371CC;"></i>
          </a>
        </button>
      </div>
    </div>
    
    <div id="contact-us" class="d-flex flex-column gap-3">
      <h1 class="text-mediumblue">
        Contact us
      </h1>
      <p class="text-body-tertiary">
        Get in touch with Unilever PLC and specialist teams in our <br> headquarters, or find contacts around the world.
      </p>
      <div id="contact-button">
        <button class="animation-button border-0 bg-light text-nowrap">
          <a class="text-decoration-none" href="https://www.unilever.pk/our-company/">
            <div class="button-content-div position-relative d-flex gap-small">
              <div class="button-text-div bg-lightblue p-3 px-4">
                <span id="button-text" class="text-purple">
                  Contact us
                </span>
              </div>
              <div class="button-icon position-relative p-3 bg-lightblue d-flex align-items-center justify-content-center px-4">
                <div class="before position-absolute">
                  <i class="fa-sharp fa-solid fa-play" style="color: #7705bc;"></i>
                </div>
                <div class="after position-absolute">
                  <i class="fa-sharp fa-solid fa-right-long" style="color: #47c8ff;"></i>
                </div>
              </div>
            </div>
          </a>
        </button>
      </div>
    </div>
  </div>  
  <div id="footer-buttons">
    <div id="cookie" class="position-fixed p-2 bg-lightblue text-darkblue" style="left: 0; bottom:0">
      Cookie Settings
    </div>
    <a class="text-light text-decoration-none" href=#header>
    <div id="back-to-top"class="position-fixed bg-darkblue text-light p-2" style="right: 0; bottom:0"> 
        <i class="fa-solid fa-caret-up" style="color: #ffffff; margin-right:5px;"></i>
        Back to top
    </div>
  </a>
  </div>
  