<div class="container mt-5">
    <h2><%-pageTitle%></h2>
    <form method="post" action="/admin/brands/create" enctype="multipart/form-data">
  
        <div class="form-group">
            <label for="brandName">Title</label>
            <input type="text" class="form-control" id="brandName" name="brandName" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="brand">Category</label>
            <select class="form-control" id="category" name="category">
              <option value="">Select a Category</option>
              <% categories.forEach(category => { %>
                <option value="<%= category._id %>"><%= category.categoryName %></option>
              <% }) %>
            </select>
          </div>
        <div class="form-group">
            <label for="brandImage">Image</label>
            <input type="file" class="form-control" id="brandImage" accept="image/*" required name="brandImage">
        </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  